# CSVs of machine IP addresses
IP_LIST=""

# User of machine
USER=""

# Base domain
DOMAIN=gitpod.domain.com

# Installer version - get from werft.gitpod-dev.com
INSTALLER_VERSION=release-2022.01.11

# The email address for cert-manager wildcard SSL certificate
LETSENCRYPT_EMAIL=my@email

# Available options are "cloudflare" or leave blank to not set
MANAGED_DNS_PROVIDER=cloudflare

CLOUDFLARE_API_KEY=""
CLOUDFLARE_EMAIL=""
